
/*....................................................................................................................*/

body{overflow: hidden}

#preloads, #play{display: none}

#full:hover, #return:hover{opacity: 0}

/*....................................................................................................................*/

#titleMajor{animation: slideUp 1s ease}

@keyframes slideUp
{
  from{transform: translateY(calc(var(--u) * 40))}
  to{transform: translateY(0)}
}

/*....................................................................................................................*/

#rococoLeft{animation: springLeft 2s ease-out}
#rococoRight{animation: springRight 2s ease-out}

@keyframes springLeft
{
  0%{transform: translateX(calc(var(--u) * -200))}
  60%{transform: translateX(calc(var(--u) * 10))}
  100%{transform: translateX(0)}
}
@keyframes springRight
{
  0%{transform: translateX(calc(var(--u) * 200))}
  60%{transform: translateX(calc(var(--u) * -10))}
  100%{transform: translateX(0)}
}

/*....................................................................................................................*/

.button
{
  color: #AAA;
  background: #FFF;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.button:hover
{
  color: #FFF;
  background: #AAA;
}

/*....................................................................................................................*/

.nonSelect
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pulse
{
  box-sizing: border-box;
  border: calc(var(--u) * 90) solid #FFFFFF00;
}

/*....................................................................................................................*/

.yellow, .red, .green{box-sizing: border-box}

.yellow{border: calc(var(--u) * 10) solid #FFCC22}
.yellow:hover{border: calc(var(--u) * 10) solid #FFCC22}

.red{border: calc(var(--u) * 10) solid #DD5566}
.red:hover{border: calc(var(--u) * 10) solid #DD5566}

.green{border: calc(var(--u) * 10) solid #88CC88}
.green:hover{border: calc(var(--u) * 10) solid #88CC88}

/*....................................................................................................................*/

.fadein{animation: fadein 2s ease}
.fadeout{animation: fadeout 0.5s ease}

@keyframes fadein
{
  from{opacity: 0}
  to{opacity: 100%}
}
@keyframes fadeout
{
  from{opacity: 100%}
  to{opacity: 0}
}

